  .navbar {
        background-color: white;
        color: #e8e6df;
        padding: 10px;
        text-align: left;
    }

    .header {
        background-color: white;
        padding: 40px;
        text-align: center;
        border-bottom: 2px solid #e8e6df;
    }

    .body {
        background-color: white;
        color:black;
        font-family: sans-serif;
        padding: 60px;
        text-align: center;
        min-height: 300px;
    }

    .footer {
            background-color:white;
            color: #333;
            text-align: center;
            padding: 15px;
            position: relative;
        }


    h1{ 
        color:goldenrod;
        font-family: cursive;
    }

    h2{ 
        color:goldenrod;
        font-family: cursive;
    }

    p{
        font-size: 18px;
    }