body{
    background-color: #8faf9a;
    color:#e8e6df;
    font-family: sans-serif;
}

h1{ 
    color:#e8e6df;
    font-family: cursive;
}

h2{ 
    color:#1f5e63;
    font-family: cursive;
}

p{
    font-size: 18px;
}